@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sample1bar {
  border: none;
  border-top: 3px double darkslateblue;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.sample2bar {
  border: none;
  border-top: 3px double orangered;
  overflow: visible;
  text-align: center;
  height: 5px;
}